.logo-container {
  width: 100%;
  height: 80px;
  background-color: var(--green);
}

.logo-container img {
  width: 70px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.logo-container p {
  display: none;
}

@media only screen and (min-width: 600px) {
  .logo-container {
    height: 140px;
  }
  .logo-container p {
    display: block;
  }
}

@media only screen and (min-width: 720px) {
  body {
    display: block;
  }
}
