#charts {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

.chart {
  display: grid;
  width: 95%;
  margin: 30px auto;
  padding: 20px 0;
  max-width: 500px;
}

.chart h6 {
  font-size: 16px;
  text-align: right;
}

@media only screen and (min-width: 810px) {
  #charts {
    grid-template-columns: 1fr 1fr;
  }
}
