@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --green: #00710f;
  --light-green: #00bc2a;
  --white: #fff;
  --red: #fa5d5d;
  --gray: #b1b1b1;
  --light-gray-for-bg: #f5f5f5;
  --max-width-sm-screen: 320px;
}

@media only screen and (min-width: 810px) {
  main {
    position: absolute;
    top: 60px;
    width: 100%;
    left: 88px;
  }
}
